@page
@model AboutModel
@{
    Layout = "Shared/_NormalPageLayout.cshtml";
    ViewData["Title"] = "About";
}


<p>
    data.gg is the brain-child of <a href="http://www.jasemagee.com/">Jason Magee</a> and
    Kieran Senior with the aim of providing all Bailiwick of Guernsey-related data
    to the public through an easily accessible API in many formats which suit those using it. We support JSON and HTML.
    data.gg is and will always be non-profit.
</p>

<h2>The Reason</h2>
<p>
    Because we are far behind other places in the world, and to push forward with software we need one thing: data. The problem is
    that data isn't readily available and is hidden away in PDF files or random HTML pages with no apparent structure. We had many
    ideas we wanted to 'get out there' but for each project we needed an API to integrate with, and so data.gg was born.
</p>


<h2>Philosophy</h2>
<p>
    We believe that we should live in a world where we are self-reliant, turning our dependencies from the government and instead
    relying on ourselves. We believe that each and every one of us has a unique set of expertise that can be used for the benefit
    of others, and data.gg is just one expression of that belief. Chief Minister Jon Le Tocq spoke of this more elegantly
    when he said:
</p>

<blockquote class="blockquote">
    <p class="mb-0">
        It is, as all well know, increasingly unrealistic and unnecessary for the States to do everything. This is not a
        financial argument, although of course it works in that perspective. It is also a realisation that there are people
        with better expertise and understanding of what is needed on the Island, and how it can be most effectively and efficiently delivered.
    </p>
    <span class="blockquote-footer">Jonathan Le Tocq, Chief Minister, 2014 - <a href="http://www.gov.gg/article/114369/Chief-Minister-addresses-the-Association-of-Guernsey-Charities-and-the-agreed-Social-Compact">AGC speech</a></span>
</blockquote>


<h2>Code</h2>
<p>
    Please feel free to get involved at <a href="https://github.com/open-data-channel-islands/data.gg">https://github.com/open-data-channel-islands/data.gg</a>.
    <h3>Data</h3>
<p>Pulling data out of PDFs on Guernsey government websites takes a lot of time but anyone can do it. You can deliver it to us in a spreadsheet format or go one step further and deliver it as JSON. Up to you!</p>
<h3>Checking</h3>
<p>Pulling data out of PDFs on Guernsey government websites manually is an error prone process. Check our data against the source and let us know if you find any problems.</p>
<h3>Charts</h3>
<p>Think we've used the wrong chart for the job? Want to see a particular comparison chart? Think of a chart we haven't done yet? Let us know!</p>

<div class="page-header">

    <h2>Owners</h2>
</div>
<ul>
    <li><a href="http://jasemagee.com">Jason Magee</a></li>
    <li>Kieran Senior</li>
</ul>

<div class="page-header">
    <h2>Hosting Sponsors <small>those who have hosted data.gg</small></h2>
</div>
<ul>
    <li><a href="https://cortex.gg">Cortex.gg (current)</a></li>
    <li><a href="http://jasemagee.com">Jason Magee (historic)</a></li>
</ul>

<div class="page-header">
    <h2>Code Contributors <small>those who have contributed to the source code</small></h2>
</div>
<ul>
    <li><a href="https://twitter.com/gringod">Adrian Ritchie</a></li>
    <li><a href="https://twitter.com/alexcassells">Alex Cassells</a></li>
    <li><a href="https://twitter.com/alextbush">Alex Bush</a></li>
</ul>
<div class="page-header">
    <h2>Data Contributors <small>those who have gone above and beyond to help provide data</small></h2>
</div>
<ul>
    <li><a href="http://www.gov.gg/pru">Policy & Research Unit</a></li>
    <li><a href="http://www.digimap.gg/">Digimap</a></li>
    <li><a href="http://www.chestandheart.org.gg/">Chest and Heart</a></li>
</ul>