@page
@model PrivacyModel
@{
    Layout = "Shared/_NormalPageLayout.cshtml";
    ViewData["Title"] = "Privacy Policy";
}

<h2>We don't currently collect anything about you on purpose</h2>
<p>We're hosted on Azure so Azure will be doing some logging.</p>

<h2>Future</h2>
<p>In the future we hope to collect some data with your help (e.g. broadband speeds).</p>
