<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - data.gg</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/css/bundle.css" />
    
    <link rel="shortcut icon" href="/favicon.png">
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">data.gg</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-page="Charts">Charts</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-page="Developers">Developers</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-page="ResearchDevelopment">R&amp;D</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-page="Apps">Apps</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-page="Maps">Maps</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-page="About">About</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-page="Contribute">Contribute</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-page="Help">Help</a></li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <footer class="footer text-muted">
        <div class="container">

            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <ul>
                        <li><strong><a asp-area="" asp-page="/Index">Home</a></strong></li>
                        <li><a asp-area="" asp-page="/Charts">Charts</a></li>
                        <li><a asp-area="" asp-page="/Developers">Developers</a></li>
                        <li><a asp-area="" asp-page="/ResearchDevelopment">R&amp;D</a></li>
                        <li><a asp-area="" asp-page="/Maps">Maps</a></li>
                        <li><a asp-area="" asp-page="/Apps">Apps</a></li>
                        <li><a asp-area="" asp-page="/About">About</a></li>
                        <li><a asp-area="" asp-page="/Contribute">Contribute</a></li>
                        <li><a asp-area="" asp-page="/Privacy">Privacy</a></li>
                        <li><a asp-area="" asp-page="/Help">Help</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <a href="https://github.com/open-data-channel-islands/data.gg"><span class="social-category category-image i-488-github"></span></a>
                    <a href="https://twitter.com/data_gg"><span class="social-category category-image i-498-twitter"></span></a>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 text-right">
                    <p class="muted credit">Copyright &copy; @DateTime.UtcNow.Year</p>
                    <p class="muted credit">Founded by <a href="https://jasemagee.com">Jason Magee</a> and Kieran Senior</p>
                    <p class="muted credit">No data is owned by data.gg</p>
                    <p>Hosting sponsored by <a href="https://cortex.gg/">Cortex</a></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
