@model Microsoft.AspNetCore.Mvc.RazorPages.PageModel
@{
    Layout = "_Layout.cshtml";
}

<div class="container">
    @RenderBody()
</div>

@* identity is moaning about this not being here but it is in the base layout.
    Seems happy with this? *@
@await RenderSectionAsync("Scripts", required: false)
