@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic);

.carousel-caption-data {
  color: black;
}
.carousel-caption-data a {
    color: #0021DA;
}

table.vertical-align-middle tbody tr td {
    vertical-align: middle;
}

.jumbotron { 
  padding-bottom:0;
  margin-bottom:0;
  background-color:#3299BB;
}

.jumbotron.orange {
    padding-top: 12px;
    background-color: #FF9900;
}

.jumbotron h2 {
  color:#FFF;
  text-shadow:1px 1px #555;
  margin-top:30px;
}

.jumbotron h3 {
  color:#FFF;
  text-shadow:1px 1px #555;
  padding-bottom:0;
  margin-bottom:20px;
  line-height:1.4em;
}

.front-page-feature-triangles {
  background-image:url("/images/gplaypattern.png");
  padding-bottom:30px
}

.front-page-alert {
  margin-top: 20px;
}


footer {
  padding:30px 0;
  margin-top:30px;
}

footer {
  background-color: #f5f5f5;
}

footer ul {
  margin:0;
  padding:0;
}

footer ul li  {
  list-style-type:none;
}

.padded-cell {
  padding: 10px;
}

.extra-bottom-space {
  margin-bottom:20px;
}

.large-text {
  font-size:120%;
}

body {
  font-family:'Roboto', sans-serif;
  padding-top:50px;
}


h2.faint-heading {
  text-align:center;
  text-transform:uppercase;
  color:#AAA;
  font-weight:100;
  font-size:1.4em;
  padding:30px 12px;
}

#breadcrumb {
  background-color:#E9E9E9;
}

.breadcrumb {
    padding-bottom: 0.3rem;
    padding-top: 0.6rem;
}

.front-page-bus-labels {
  margin:0 3px 0 10px;
  width:15px;
  height:15px;
}

.data-gg-tab-padding {
  margin-bottom: 12px;
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eeeeee;
}

.blockquote{
    font-style: italic;
    font-size: 1.1rem;
}